/* || SIDEBAR */

.sidebar {
    background-color: var(--BGCOLOR);
    bottom: 0;
    font-size: 1rem;
    left: 0;
    padding-top: 5px;
    position: fixed;
    top: 50px;
    width: 3.3em;
    z-index: 200;
}

.sidebar-link {
    height: clamp(3em, 3.6em, 4em);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: var(--SIDE-LINK-HOVER);
}

.sidebar-link img {
    height: 1em;
    margin-bottom: 5px;
}

.sidebar-link div {
    font-size: 10px;
}
