html {
    font-size: 1rem;
}

body {
    background-color: #0a0a23;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
    font-size: 1.5em;
}

#game {
    max-width: 1000px;
    max-height: 600px;
    background-color: #ffffff;
    color: #ffffff;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

#controls,
#stats {
    border: 1px solid #0a0a23;
    color: #0a0a23;
    padding: 5px;
}

#monsterStats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
    display: none;
    font-size: 1.5em;
}

.stat {
    padding-right: 10px;
    font-size: 1.5em;
}

button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    border: 3px solid #feac32;
    font-size: 1.5em;
}

#button1,
#button2,
#button3 {
    background-image: linear-gradient(#fecc4c, #ffac33);
}

/* .change-language {
    margin-top: 30px;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: #4caf50;
    color: white;
}

.change-language:hover {
    background-color: #3e8e41;
} */
